body
{    
    background-image: url("admin.jpg"); 
	background-repeat: repeat;
    background-size: cover;
    background-position:fixed;
    height: 100vh;
	font-family: verdana;
    font-size: 15px;
	margin-left:40px; 
	margin-right:40px;
	
}
h2{
    font-family: 'Open Sans', sans-serif;
    font-size:60px;
}
.form
{
    text-align:left;
    margin-left:80px; 
    color:white;
	font-size: 30px;
}
.form1
{
    text-align:left;
    margin-left:80px; 
    color:white;
	font-size: 15px;
}

label{
    font-family: 'Jomolhari', serif;
    font-weight: bold;
    
}
img{
    width: 100px;
    height: 100px;
}
.logo-link{
    display: inline-block;
    position: relative;
    top: 60px;
    left: 185px;
    margin: 0 24px;
}
.logo-link img {
    display: block;
}
.vertical_align{ 
    position: relative;
	padding-top:30px;
    left: 500px;
    display: inline-block;
    vertical-align: top;
}

.menuitem:link, .menuitem:visited
{
	display: inline;
	font-size: 25px;
	font-style: bold;
	color: #ffffff;
	text-decoration: none;
	padding: 10px 15px;
	font-family: comic sans ms;
    text-align: left;
	margin: 2px;

}
nav {
    width: 70vw;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
 
.menu {
    font-size: 2vw;
    padding: 0vh 2vw 0vh 2vw;
    text-decoration: none;
    color: #ffffff;
    font-family: comic sans ms;
    text-align: left;
	margin: 2px;
}
a.menu:link, a.menu:visited
{
	display: inline;
	/*background-color: #ffffff;*/
	font-size: 25px;
	font-style: bold;
	color: #ffffff;
	text-decoration: none;
	padding: 10px 15px;
	font-family: comic sans ms;
    text-align: left;
	margin: 2px;

}
a.menu:hover, a.menu:active
{
	color:  #3C3FB5 ;
	text-align: left;
	text-decoration: none;
	display: inline;
}

.menuitem {
    text-decoration: none;
    padding: 1vw 4vh 1vw 4vh;
    font-family: 'Lobster';
    font-size: 1.5vw;
    color: black;
}

 
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 14vw;
    min-height: 25vh;
    padding: 12px 16px;
    z-index: 1;
    text-align: center;
    background-color: rgba(253, 246, 246, 0.6);
    border-radius: 5%;
}
 
.dropdown-content a {
    display: inline-block;
}
 
.dropdown {
    position: relative;
    display: inline-block;
}
 
.dropdown:hover .dropdown-content {
    display: block;
}

