
body{
	background: #fff;
	margin: 0;
	padding: 0;
}
.sm-wrapper{
	margin-top: 100px;
}
.sidemenu
{
	height:100%;
	width:0;
	position:fixed;
	z-index:1;
	top :0;
	left: 0;
	background-color:black;
	overflow-x: hidden;
	transition: 0.5s;
	padding-top:10px;
}
.sidemenu a{
	padding: 8px 8px 8px 32px;
	text-decoration: none;
	font-size: 45px;
	font-family: 'Pinyon Script', cursive;
	color:#ffff;
	display: block;
	letter-spacing: 5px;
	margin-bottom:20px;
	transition:0.3s;
}
.sm-wrapper a:after
{
	z-index: -1;
	position: absolute;
	left: 0%;
	width: 0;
	height: 50px;
	background:#e85e4f;
	content:'';
	transition: width 0.35s ease-in-out;
}
.sm-wrapper a:hover:after
{
	width: 10%;
}
.sm-wrapper a:hover
{
	padding-left: 64px;
	transition: 0.35s ease-in-out;	
}

header h1{
	font-family: 'Pinyon Script', cursive;
	font-size: 68px;
    margin-bottom: 20px;
    font-weight: bold;
    text-align: center;
    color: #444;
    margin-top: 30px;
}


.container{
	display:flex;
	justify-content: center;
	align-items: center;
	margin: 35px 0;

}
.card1
{
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
	width: 300px;
	max-width:400px;
	margin: auto;
	background-color: white;
	text-align:center;
	border-radius: 30px;
	padding: 20px;

}
.card1 .myicons
{
	padding: 20px;
}
.button1
{
	border:none;
	padding:8px;
	display:inline-block;
	color:white;
	background-color: black;
	cursor:pointer;
	width:70%;
	border-radius:20px;
	font-size:18px;
	text-align:center;
	margin-bottom: 20px;

}
a{
	text-decoration: none;
	font-size:22px;
	color:black;

}
a:hover,button:hover
{
	opacity:0.6;
}
/*a:hover {
    color: #02b8dd;
}*/
/*ul li {
    color: #444;
    text-transform: uppercase;
    font-weight: bold;
    display: block;
    margin-right: 20px;
}
ul li a{
	color: #444;
	display: block;
}*/

/*.ec{
	position: absolute;
	overflow: hidden;
	top: 60%;
	left: 90%;
	transform: translate(-50%,-50%);
	padding: 40px 
}
.ec a{
	text-decoration: none;
	color: black;
	font-size: 32px;
	display: flex;
	float: left;
	margin: 0 10px;
	width: 60px;
	height: 60px;
	align-items: center;
	justify-content: center;
	border-radius: 50%

}

.ec a:hover{
	box-shadow: 0px 0px 30px #5213e4;
	color: black;
}
.voter{

	position: absolute;
	overflow: hidden;
	top: 30%;
	left: 90%;
	transform: translate(-50%,-50%);
	padding: 40px 
}
.voter a{
	text-decoration: none;
	color: black;
	font-size: 32px;
	display: flex;
	float: left;
	margin: 0 10px;
	width: 60px;
	height: 60px;
	align-items: center;
	justify-content: center;
	border-radius: 50%

}

.voter a:hover{
	box-shadow: 0px 0px 30px blue;
	color: black;
}

.candidate{

	position: absolute;
	overflow: hidden;
	top: 45%;
	left: 90%;
	transform: translate(-50%,-50%);
	padding: 40px 
}
.candidate a{
	text-decoration: none;
	color: black;
	font-size: 32px;
	display: flex;
	float: left;
	margin: 0 10px;
	width: 60px;
	height: 60px;
	align-items: center;
	justify-content: center;
	border-radius: 50%

}

.candidate a:hover{
	box-shadow: 0px 0px 30px #65d013;
	color: black;
}*/
